# Node modules
node_modules/

# Build output
build/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE/editor settings
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
